bcrypt==3.2.0
certifi==2019.9.11
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
cryptography==36.0.1
falcon==2.0.0
hug==2.6.0
idna==2.8
paramiko==2.9.2
pycparser==2.21
pymongo==3.9.0
PyMySQL==0.9.3
PyNaCl==1.5.0
pysftp==0.2.9
requests==2.22.0
six==1.16.0
termcolor==1.1.0
urllib3==1.25.6
